body { 
	background-image: url('../../images/sabines.png'); 
	background-repeat: no-repeat; 	
	background-color: white;
	font: 14px/1.4em Futura, Verdana; color: black; 
	margin: 0px 0px; 
} 
p, li, td { font: 14px/1.4em Futura, Verdana; color: #777; } 

span.headline { font: 60px Futura, Verdana; color: black; } 
span.section { font: 40px Futura, Verdana; color: black; } 
span.sidebar { font: 24px Futura, Verdana; color: black; } 

span.header { color: #888; font: 40px Futura, Verdana; } 

/* Links */
a { color: black; text-decoration: none; }
a:hover { color: #444; }

img { border: 0 }

/* Shadow */
.shadow { padding: 1px 2px 2px 2px;  
		background-color: rgba(0, 0, 0, 0.12); }
